WpfCrud/MyBusiness.BookAd.Presentation.Wcf/Service References/AdvertisementServiceReference/NineNetwork.BookAd.Business1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Advertisement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdvertisementId" type="xs:int" />
          <xs:element minOccurs="0" name="BookingDateTimeUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DurationSeconds" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Advertisement" nillable="true" type="tns:Advertisement" />
  <xs:complexType name="BusinessEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BusinessEntity" nillable="true" type="tns:BusinessEntity" />
  <xs:complexType name="ArrayOfAdvertisement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advertisement" nillable="true" type="tns:Advertisement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertisement" nillable="true" type="tns:ArrayOfAdvertisement" />
</xs:schema>