WpfCrud/MyBusiness.BookAd.Presentation.Wcf/Service References/AdvertisementServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExternalAdvertisementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdvertisementService_AddAdvertisement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdvertisement" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementService_AddAdvertisement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdvertisementResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementService_GetAdvertisements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertisements" />
  </wsdl:message>
  <wsdl:message name="IAdvertisementService_GetAdvertisements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertisementsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdvertisementService">
    <wsdl:operation name="AddAdvertisement">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementService/AddAdvertisement" message="tns:IAdvertisementService_AddAdvertisement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementService/AddAdvertisementResponse" message="tns:IAdvertisementService_AddAdvertisement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvertisements">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertisementService/GetAdvertisements" message="tns:IAdvertisementService_GetAdvertisements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertisementService/GetAdvertisementsResponse" message="tns:IAdvertisementService_GetAdvertisements_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdvertisementService" type="tns:IAdvertisementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdvertisement">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementService/AddAdvertisement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvertisements">
      <soap:operation soapAction="http://tempuri.org/IAdvertisementService/GetAdvertisements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalAdvertisementService">
    <wsdl:port name="BasicHttpBinding_IAdvertisementService" binding="tns:BasicHttpBinding_IAdvertisementService">
      <soap:address location="http://localhost:8080/MyBusiness.BookAd.Services.Wcf/AdvertisementService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>