WpfCrud/MyBusiness.BookAd.Presentation.Wcf/Service References/AdvertisementServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" />
  <xs:element name="AddAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" minOccurs="0" name="value" nillable="true" type="q1:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdvertisementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyBusiness.BookAd.Business" minOccurs="0" name="GetAdvertisementsResult" nillable="true" type="q2:ArrayOfAdvertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>